[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = master
	shallow = true
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = master
	shallow = true
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = master
	shallow = true
[submodule "meta-amiko"]
	path = meta-amiko
	url = https://github.com/open-amiko/meta-amiko.git
	shallow = true
[submodule "meta-ax"]
	path = meta-ax
	url = https://github.com/OpenVisionE2/meta-ax.git
	shallow = true
[submodule "meta-azbox"]
	path = meta-azbox
	url = https://github.com/OpenVisionE2/meta-azbox.git
	shallow = true
[submodule "meta-beyonwiz"]
	path = meta-beyonwiz
	url = https://github.com/OpenVisionE2/meta-beyonwiz.git
	shallow = true
[submodule "meta-blackbox"]
	path = meta-blackbox
	url = https://github.com/OpenVisionE2/meta-blackbox.git
	shallow = true
[submodule "meta-broadmedia"]
	path = meta-broadmedia
	url = https://github.com/OpenVisionE2/meta-broadmedia.git
	shallow = true
[submodule "meta-ceryon"]
	path = meta-ceryon
	url = https://github.com/OpenVisionE2/meta-ceryon.git
	shallow = true
[submodule "meta-clap"]
	path = meta-clap
	url = https://github.com/OpenVisionE2/meta-clap.git
	shallow = true
[submodule "meta-cube"]
	path = meta-cube
	url = https://github.com/OpenVisionE2/meta-cube.git
	shallow = true
[submodule "meta-dags"]
	path = meta-dags
	url = https://github.com/OpenVisionE2/meta-dags.git
	shallow = true
[submodule "meta-dinobot"]
	path = meta-dinobot
	url = https://github.com/OpenVisionE2/meta-dinobot.git
	shallow = true
[submodule "meta-dream"]
	path = meta-dream
	url = https://github.com/OpenVisionE2/meta-dream.git
	shallow = true
[submodule "meta-ebox"]
	path = meta-ebox
	url = https://github.com/OpenVisionE2/meta-ebox.git
	shallow = true
[submodule "meta-edision"]
	path = meta-edision
	url = https://github.com/OpenVisionE2/meta-edision.git
	shallow = true
[submodule "meta-entwopia"]
	path = meta-entwopia
	url = https://github.com/OpenVisionE2/meta-entwopia.git
	shallow = true
[submodule "meta-formuler"]
	path = meta-formuler
	url = https://github.com/formuler/meta-formuler.git
	branch = master
	shallow = true
[submodule "meta-gb"]
	path = meta-gb
	url = https://github.com/OpenVisionE2/meta-gb.git
	shallow = true
[submodule "meta-gfutures"]
	path = meta-gfutures
	url = https://github.com/HD-Digital/meta-gfutures.git
	branch = master
	shallow = true
[submodule "meta-gi"]
	path = meta-gi
	url = https://github.com/GIDeveloperTeam/meta-gi.git
	branch = master
	shallow = true
[submodule "meta-gigablue"]
	path = meta-gigablue
	url = https://github.com/GigaBlue-STB/meta-gigablue
	branch = master
	shallow = true
[submodule "meta-hd"]
	path = meta-hd
	url = https://github.com/HD-Digital/meta-hd.git
	shallow = true
[submodule "meta-hypercube"]
	path = meta-hypercube
	url = https://github.com/OpenVisionE2/meta-hypercube.git
	shallow = true
[submodule "meta-ini"]
	path = meta-ini
	url = https://github.com/OpenVisionE2/meta-ini.git
	shallow = true
[submodule "meta-ixuss"]
	path = meta-ixuss
	url = https://github.com/OpenVisionE2/meta-ixuss.git
	shallow = true
[submodule "meta-linkdroid"]
	path = meta-linkdroid
	url = https://github.com/OpenVisionE2/meta-linkdroid.git
	shallow = true
[submodule "meta-maxytec"]
	path = meta-maxytec
	url = https://github.com/v8droide2/meta-maxytec
	branch = master
	shallow = true
[submodule "meta-minix"]
	path = meta-minix
	url = https://github.com/OpenVisionE2/meta-minix.git
	shallow = true
[submodule "meta-miraclebox"]
	path = meta-miraclebox
	url = https://github.com/miraclebox-git/meta-miraclebox.git
	shallow = true
[submodule "meta-octagon"]
	path = meta-octagon
	url = https://github.com/OpenVisionE2/meta-octagon.git
	shallow = true
[submodule "meta-odin"]
	path = meta-odin
	url = https://github.com/OpenVisionE2/meta-odin.git
	shallow = true
[submodule "meta-odroid"]
	path = meta-odroid
	url = https://github.com/OpenVisionE2/meta-odroid.git
	shallow = true
[submodule "meta-protek"]
	path = meta-protek
	url = https://github.com/OpenVisionE2/meta-protek.git
	shallow = true
[submodule "meta-qviart-5"]
	path = meta-qviart-5
	url = https://github.com/pli3/meta-qviart-5.git
	shallow = true
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/OpenVisionE2/meta-raspberrypi.git
	shallow = true
[submodule "meta-sab"]
	path = meta-sab
	url = https://github.com/mariner2/meta-sab.git
	shallow = true
[submodule "meta-sh4"]
	path = meta-sh4
	url = https://github.com/OpenVisionE2/meta-sh4.git
	shallow = true
[submodule "meta-spycat"]
	path = meta-spycat
	url = https://github.com/open-spycat/meta-spycat.git
	shallow = true
[submodule "meta-tiviar"]
	path = meta-tiviar
	url = https://github.com/OpenVisionE2/meta-tiviar.git
	shallow = true
[submodule "meta-tripledot"]
	path = meta-tripledot
	url = https://github.com/OpenVisionE2/meta-tripledot.git
	shallow = true
[submodule "meta-uclan"]
	path = meta-uclan
	url = https://github.com/OpenVisionE2/meta-uclan.git
	shallow = true
[submodule "meta-v8plus"]
	path = meta-v8plus
	url = https://github.com/OpenVisionE2/meta-v8plus.git
	shallow = true
[submodule "meta-viper"]
	path = meta-viper
	url = https://github.com/OpenVisionE2/meta-viper.git
	shallow = true
[submodule "meta-vuplus"]
	path = meta-vuplus
	url = https://github.com/vu-plus/meta-vuplus.git
	branch = master
	shallow = true
[submodule "meta-wetek"]
	path = meta-wetek
	url = https://github.com/OpenVisionE2/meta-wetek.git
	shallow = true
[submodule "meta-xcore"]
	path = meta-xcore
	url = https://github.com/OpenVisionE2/meta-xcore.git
	shallow = true
[submodule "meta-xp"]
	path = meta-xp
	url = https://github.com/XP-Master/meta-xp.git
	shallow = true
[submodule "meta-xpeedc"]
	path = meta-xpeedc
	url = https://github.com/XpeedDeveloperTeam/meta-xpeedc.git
	branch = master
	shallow = true
[submodule "meta-xsarius.pli5"]
	path = meta-xsarius.pli5
	url = https://github.com/pli3/meta-xsarius.pli5.git
	shallow = true
[submodule "meta-xt"]
	path = meta-xt
	url = https://github.com/OpenVisionE2/meta-xt.git
	shallow = true
[submodule "meta-xtrend"]
	path = meta-xtrend
	url = https://github.com/nextv-xtrend/meta-xtrend.git
	shallow = true
[submodule "meta-zgemma"]
	path = meta-zgemma
	url = https://github.com/zgemma-star/meta-zgemma.git
	branch = master
	shallow = true
